

html, body{
	width: 100%;
	height: 100%;
	position: relative;
	background: #DC143C;
	font-family: Shojumaru;

}

header{

	width: 100%;
	height: 20%;	
	font-size: 64px;
	line-height: 200%;
	text-align: center;
	color:white;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
}


header > img{
	transform: translateY(10px);
	width: 85px;
	height: 85px;
}


section{

	background: white;
	width: 850px;
	height: 60%;
	margin: 10px auto;
}

section > form{
	width: 100%;
	height:100%;

}

section > form > div{
	text-align: center;
	width: 75%;
	height: 25%;
	font-size: 32px;
	margin:  10px auto;
	margin-bottom: 20px;
	line-height: 400%;

}

button{
	font-family: Bangers;
	font-size: 26px;
	width: 150px;
	height: 75px;
	background-color: white;
	color: black;
	border: 2px solid #8B0000;
	transform: translateX(200px);
}

#botones{
	text-align: right;


}

#img2{
 	transform: translateY(13px) rotateY(180deg);

}

.nombre{
	font-size:22px;
	margin-left: 25px;
	margin-right: 25px;
}

#n{
	width: 35px;
	font-size: 22px;
	margin-left: 225px;

}


.primary_color{
	height: 50px;
	transform: translateY(10px);
}


.colorPicker{
	position: absolute;
	width: 55px;
	height: 55px;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: currentColor;
    color:red;	
  transform: translate(585px,-90px);
}


  